/*
 * Header
 */

 .index-header-wrapper {
 	overflow:hidden;
 	.page-head{
 		background-color:transparent;
 	}
 	.page-head .menu-btn .burger-bar{
 		background-color: #f5f5f5;
 	}
 }
 .header-wrapper {
 	.page-head{
 		background-color:rgba(249, 249, 249, 0.8);
 	}
 	.page-head .menu-btn .burger-bar{
 		background-color: #444;
 		text-shadow:rgba(0,0,0,0) 0 0 0;
 	}
 }
.page-head{
	position: fixed;
	width: 100%;
	margin: 0 auto;
	height: 50px;
	padding:0;
	top:0;
	display:block;
	z-index:2;

	p{
		@include font-size(13px);
		color:#999;
		display:inline-block;
		padding:0;

		&.logo{
			width: 100px;
			height: 30px;
			vertical-align: middle;
			margin-left: 20px;
			text-transform: none;
			color: $dark;
			-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
			-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

		}
	}

	.menu-btn{
		float: right;
		position: absolute;
		top: 0;
		right:10px;
		border  : none;
		padding: 8px 11px 11px;
		margin: 6px 0;
		z-index: 2;
		background: transparent no-repeat 0 0;
		transition: all 0.2s ease-in-out;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		&:hover {
			background-color: rgba(0,0,0,0.05);
		}
		.burger-bar{
			display: block;
			width: 20px;
			height: 3px;
			margin-top: 3px;
			background-color: #f5f5f5;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
			-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		}
	}
	.menu{
		padding: 25px;
		top: 0;
		position: absolute;
		right: 0;
		width: 100%;
	}

	// Screens larger than 800px
	@media screen and (min-width: 800px) {
		.menu:hover > .menu-content{
		    // transition: opacity 0.2s ease-in-out;
		    // opacity: 1;
		    display: block;
		}
	}
	nav{
		.menu-content{
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			width: 100%;
			background-color: #232323;
			padding:40px 20px 60px;
			transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			display:none;
			// opacity:0;

		}
		ul{
			list-style: none;
			text-align: center;
			margin: 0 auto;
			position: relative;

			li{
				&.post-links {
					line-height: .8em;
					p {
						width: 100%;
						padding:0;
						margin:0 auto;

						&.latest{
							text-transform: uppercase;
							color: $orange;
						}
					}
				}

				&.page-links {
					padding-top: 10px;
					a{
						text-shadow:rgba(0,0,0,0.50) 0 3px 0;
						padding:0 5px;
						color: $tan;
						@include font-size(24px);

					}
				}
				&.social-links {
					a{
						padding:0 5px;
						color: $teal;
						@include font-size(12px);
					}
				}

			}
		}

		nav a{
			display:inline-block;
			margin:0 .5em 0 0;
		}
	}



}

.page-head .ident{
	@include font-size(35px);
}

.twitter{
	left:18em;
	top:.8em;
	right:auto;
}

.mantra{
	overflow: hidden;
	width:100%;
	position:relative;
	padding:0;
	margin:0;
	top:0;
	left:0;
	p{
		font-size: 24px;
		font-weight: 300;
		min-width:250px;
		padding-top:360px;
		line-height: 1.2em;
		width: 50%;
		margin: 0 auto;
		color:$white;
		text-shadow:rgba(0,0,0,0.20) 0 3px 0;
	}
}


.index-wrap{
	position: absolute;
	height:	100%;
	width: 100%;

	.perception{
		height:100%;
		background-color:$teal;
		// text-transform: uppercase;
		p{
			padding:0;
			left: 25%;
			position: absolute;
			top:340px;
			z-index: 1;
		}
		.perception-svg{
			display:block;
			position: absolute;
			top: 240px;
			left: 25%;
			z-index: 0;
		}
	}
	.dahl{
		height:100%;
		background-color:$orange;
		p {
			padding:0;
			color:$orange;
			text-transform: none;
			&.inspiration {
				padding-top:200px;
				color:$white;
				text-transform: none;
			}
		}
	}
	.delightful{
		height:100%;

		background:$tan url(../../assets/img/tinker.png) 80% 50px no-repeat;
		background-size: 480px 480px;
		img {
			position: absolute;
			right:12%;
			top:35px;
			min-width: 480px;
			height: 480px;
			z-index: 1;
		}
		p {
			z-index: 2;
			padding:0;
			color:$black;
			text-shadow: rgba(0,0,0,0) 0 3px 0;
			&.make {
				padding-top:200px;
			}
			&.playful {
				padding-top:140px;
				font-size: 13px;
				text-transform: none;

			}
		}
		.delightful-svg {
			display:block;
			position: absolute;
			top: 14%;
			right: 15%;
			z-index: 0;
		}
	}
	.dinosaur {
		.dale {
			font-family: "Merriweather";
			width: 240px;
			color: #222;
			font-size: 12px;
			line-height: 16px;
			text-shadow: none;
			text-align:justify;
			text-justify:inter-word;
		}
	}

	.dent{
		height:100%;
		background-color:$dark;
	}
	.do-well-good{
		height:100%;
		background-color:$almostWhite;
		width:100%;

		.circles{
			position: absolute;
			left: 40%;
			top: 15%;

			.good-circle, .well-circle{
				position: absolute;
				width: 340px;
				height: 340px;
				border-radius: 340px;
				display: block;
				border-radius: 340px;
				background-color: rgba(68, 68, 68, 0.1);
				float: left;
			}
			.well-circle{
				left: -250px;
			}
			.good-circle{
				left: 20px;
			}
			p {
				color:$black;
				position: absolute;
				left:-66px;
				width: 200px;
				top:-244px;
				font-size: 16px;
				text-align: center;
				padding-top:400px;
			}
		}
	}
}

.refresh {
	position: absolute;
	right: 50px;
	bottom: 0;
}


/*
 * Content
 */

.caption {
	font-size: 15px;
	color:#888;
	}
article{
	margin-top:3em;

	hr{
		width:50%;
	}
	&.about {
		p {
			margin: 0.6em 0 0;
			padding: 0;
		}
	}

// Resources page
	&.resources{
		h3 {
			border-bottom: #ccc solid 1px;
			clear:both;
			line-height: 2em;
			padding-top:1em;
			span {
				color: #ccc;
				font-size: 12px;
				font-style: italic;
				float: right;
				line-height: 1.25em;
				padding-top: 1.55em;
			}
		}
		dl {
			width: 33.3333%;
			float: left;
			padding-right:2%;
			&:last-child {
			padding-bottom:3em;
			}
			a{
				font-size: .85em;
				margin: 0;
				padding: 0.2em 0 0;
				line-height: .5em;
				&:link,&:visited{
					color:$black;
				}
				&:hover{
					text-decoration: none;
					color:$orange;
				}
			}

		}

		dt {
			padding: 6px 0;
			font-weight: 1.25em;
			font-weight: bold;
			color:$teal;
			border-bottom: #ccc double 4px;
		}
		dd {
			line-height: 1em;
			padding: .5em 0 .125em;
			p {
				font-size: .5em;
				color: #999;
				padding: .5em 0 0;
				margin: 0 0 5px;
				line-height: 1.2em;
			}
		}
	}
}

p{
	@include font-size(18px);
	line-height:1.6em;

}

ul,ol{
	padding-left: 0;

	li{
		@include font-size(18px);
		line-height:1.6em;
	}
}

blockquote{
	border-left:5px solid #ccc;
}

.content .more{
	@include vendor(border-radius,3px);
	@include font-size(14px);
	line-height:2.2em;
	color:#fff;
	text-decoration:none;
	padding:0 .8em;
	border: 1px solid $teal;
	color:$teal;
	background-color:transparent;
	display:table;
	margin:1.5em 0 0 0;
	width:auto;
	text-align: left;
}

.content h2,h1{
	@include font-size(30px);
}

h3{
	@include font-size(22px);
}

.date{
	@include font-size(15px);
}

.paging{
	margin-top:5em;
}

.paging .more{
	@include vendor(border-radius,3px);
	@include font-size(18px);
	line-height:2.8em;
	text-decoration:none;
	padding:0 2em;
	margin:0 auto;
	display:block;
	text-shadow:none;
	font-style:italic;
	background-color:transparent;
	border:1px dotted #e9e9e9;
	color:#999;
	text-align:center;

	&:hover{
		background-color:transparent;
		border:1px dotted #09b7aa;
		color:#09b7aa;
		text-decoration: none;
	}
}



/*
 * Footer
 */
.page-foot{
	text-align:left;
	clear: both;
	padding-left:10px;
	padding-right:10px;

	>span{
		float:right;
		text-align:left;
		margin:0;
		color:#bbb;
	}

	>a{
		margin-right:1em;
		float:left;
		margin:0 1em 0 0;
		text-align:left;
	}
}