<footer class="page-foot">
	<a href="/about"><span>About</span></a>
	<a href="/blog"><span>Blog</span></a>
	<a href="/archive"><span>Archive</span></a>
	<a href="/rss"><span>Feed</span></a>
	<span>Azar &copy; 2013</span>
</footer>
