<footer class="page-foot">
	<a href="/portfolio"><span>Work</span></a>
	<a href="/about"><span>About</span></a>
	<a href="/blog"><span>Blog</span></a>
	<!-- <a href="/contact"><span>Contact</span></a> -->
	<a href="/resources"><span>Resources</span></a>
	<a href="/rss"><span>RSS</span></a>
	<span>Azar &copy; {{ 'now' | date: "%Y" }}</span>
</footer>
