{% layout "page" %}
{% block content %} 
	<article>
		<h1>About</h1>
		<p>Coming soon.</p>
		<h3>FAQ</h3>
		<p>Q: Are you availible for freelance work?</p>
		<p>A: Nope.</p>
	</article>
{% endblock %}