{% layout "index" %}
{% block content %}

	<blockquote class="index-quote">The first page is for friends, everyone knows that. <b> —Caitlin</b></blockquote>
	<div class="notebook">
		<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
		<form id="pad-form" method="post" action="https://script.google.com/macros/s/AKfycbw_foXAgq0bVdc56C5q-BhEfEsmUN7jqF_XmXeJJgBM_1t4nmg/exec" target="hidden_iframe">
			<textarea name="message" placeholder="Add something clever, then press enter." autofocus="autofocus" onkeydown='if (event.keyCode == 13) { this.form.submit(); alert("Awesome! Thank you."); window.setTimeout(function(){location.reload()},500); return false; }'></textarea>
		</form>
	</div>
{% endblock %}
