{% layout "index" %}
{% block content %}

<div class="portrait"></div>

<div class="index-content">
	<div class="hi">hi there,</div>
	<h2>I'm <span data-typer-targets="an Interaction Designer,a User Interface Designer,a User Experience Designer,a Product Designer,an after-hours coder,an amateur runner,an aspiring humanitarian, a tinkerer, a dreamer">an Interaction Designer</span>.</h2>

	<h3>My interests include <a href="http://www.wired.com/2014/01/its-time-to-take-mesh-networks-seriously-and-not-just-for-the-reasons-you-think/">mesh networks</a>, <a href="type-experiments">type experiments</a>, and <a href="https://www.flickr.com/photos/reptarazar">photojournalism</a>.</h3>

{% comment %}	<ul class="projects">
		<li class="first">projects</li>
		<li class="second">are</li>
		<li class="third">coming</li>
		<li class="fourth">wicked</li>
		<li class="fifth">soon</li>
		<li class="sixth">... I promise :)</li>
	</ul>{% endcomment %}

<p class="footer">&copy; Azar</p>
</div>

{% endblock %}
