{% block content %}
    <h1>Portfolio</h1>
    <!-- Display a group for portfolio by tag -->
    {% grouped 'portfolio' by 'tag' %}
            <div class="tag">{% include "portfolio/tag" with grouped.items %}</div>
    {% endgrouped %}
    <!-- Display a list of portfolio items, but allow queries by route category (see mixture.json for routes) order desc -->
    {% collection "portfolio" query 'tag=design' order desc %}
        <ul class="portfolio-items">{% include "portfolio/small" with collection.items %}</ul>
    {% endcollection %}
{% endblock %}