{% layout "page" %}
{% block content %} 
	<article class="resources">
		<h3>Resources <span>“We become what we behold.” –M. McLuhan</span></h3>
		
		<dl>
			<dt>General</dt>
			<dd><a href="http://www.google.com/intx/en/enterprise/apps/business/" target="_blank">Google Mail, Cal, Docs, Drive</a>
				<p>Hangouts replace Skype, Drive replaced Dropbox, Docs Replaced MS Office</p></dd>
			<dd><a href="http://youtu.be/CSmbnaPZVHE" target="_blank">WorkFlowy</a>
				<p>Lists, on crack.</p></dd>
			
			<dd><a href="" target="_blank">..</a>
				<p>..</p></dd>
			<dd><a href="" target="_blank">..</a>
				<p>..</p></dd>
		</dl>


		<dl>
			<dt>Designy</dt>
			<dd><a href="http://www.amazon.com/The-Looking-Sideways-Alan-Fletcher/dp/0714834491" target="_blank">Art of Looking Sideways</a>
				<p>Master designer Alan Fletcher has spent a lifetime collecting images, useless information, quotations and scraps that take his fancy.</p></dd>
			<dd><a href="https://news.layervault.com/" target="_blank">Desinger News</a>
				<p>A community centered around the most interesting things happening in design.</p></dd>
			<dd><a href="http://www.amazon.com/Elements-Typographic-Style-Robert-Bringhurst/dp/0881791326" target="_blank">Elements of Typographic Style</a>
				<p>Author Robert Bringhurst writes about designing with the correct typeface; striving for rhythm, proportion, &amp; harmony; choosing &amp; combining type</p></dd>
			<dd><a href="http://ffffound.com/" target="_blank">ffffound</a>
				<p>Great for weird finds, inspiration, and brain breaks. </p></dd>
			<dd><a href="www.typography.com" target="_blank">H&amp;FJ</a>
				<p>Master typographers Jonathan Hoefler and Tobias Frere-Jones are the best of the best.</p></dd>
			<dd><a href="http://www.teehanlax.com/tools/" target="_blank">Teehan+Lax</a>
				<p>Awesome iOS Photoshop files</p></dd>
			

			
			
				
		</dl>

		<dl>
			<dt>Webby</dt>
			<dd><a href="http://en.wikipedia.org/wiki/Agile_software_development" target="_blank">Agile</a>
				<p>Set of software development methods based on iterative and incremental development.</p></dd>
			<dd><a href="http://www.browserstack.com/" target="_blank">BrowserStack</a>
				<p>Best cross browser testing tool I've used to date. Instant access to all desktop and mobile browsers.</p></dd>
			<dd><a href="https://news.ycombinator.com/newest" target="_blank">CodeAcademy</a>
				<p>Learn to code interactively, for free.</p></dd>
			<dd><a href="http://codepen.io/ReptarAzar/" target="_blank">CodePen</a>
				<p>Playground for the front end side of the web. Great for tiny prototypes. Supports LESS/SASS and CoffeeScript</p></dd>
			<dd><a href="https://github.com/ReptarAzar" target="_blank">GitHub</a>
				<p>Web-based hosting service for software development projects that use the Git revision control system</p></dd>			
			<dd><a href="https://news.ycombinator.com/newest" target="_blank">HackerNews</a>
				<p>Computer science and entrepreneurship news. Run by Paul Graham's investment fund and startup incubator, Y Combinator.</p></dd>
			<dd><a href="http://shop.oreilly.com/category/browse-subjects.do" target="_blank">O'Reilly Books</a>
				<p>"Spreading the knowledge of innovators."</p></dd>
		</dl>

		<h3>Toys, Gadgets, and Gear</h3>
		<dl>
			<dt>Software</dt>
			<dd><a href="http://www.adobe.com/products/creativecloud/design.html" target="_blank">Adobe CS6</a>
				<p>Illustrator and Photoshop, the usual suspects.</p></dd>
			<dd><a href="http://delicious.com" target="_blank">Delicious</a>
				<p>Save and organize bookmarks in the cloud.</p></dd>
			<dd><a href="http://www.instapaper.com/u" target="_blank">Instapaper</a>
				<p>Save articles to read for later. Designed and developed by the one and only Marco Arment.</p></dd>
			<dd><a href="http://www.iterm2.com/#/section/home" target="_blank">iTerm2</a>
				<p>A better terminal for Mac OS</p></dd>
			<dd><a href="http://www.mailboxapp.com/" target="_blank">Mailbox App</a>
				<p>Makes email actually not the worst thing ever.</p></dd>
			<dd><a href="https://play.spotify.com/user/chris.azar" target="_blank">Spotify Premium</a>
				<p>The world's music, plus friends. $10/month</p></dd>
			<dd><a href="https://news.ycombinator.com/newest" target="_blank">SublimeText2</a>
				<p>If all it had was Package Control, I'd still love it forever. Best text editor in the land, like ever.</p></dd>
			
			
			
			<dd><a href="http://" target="_blank"></a></dd>
		</dl>

		<dl>
			<dt>Hardware</dt>
			<dd><a href="http://" target="_blank">Canon DSLR</a>
				<p>Canon 500D with a 50mm f1.4; it's a good amature body &amp; lens pair</p></dd>
			<dd><a href="http://" target="_blank">GoPro</a>
				<p>description</p></dd>
			<dd><a href="http://www.apple.com/macbook-pro/" target="_blank">MacBook Pro</a>
				<p>with an Apple Cinema Display &amp; Magic Mouse</p></dd>
			
		</dl>

		<dl>
			<dt>Gear</dt>
			<dd><a href="http://www.cannondale.com/2009-caad9-5" target="_blank">Cannondale CAAD9</a>
				<p>Solid at $1300 (with all Ultegra components)</p></dd>
			<dd><a href="http://rhodiapads.com/collections_orange_18.shtml" target="_blank">Rhodia Notepads</a>
				<p>Pad N°18 - $8 each</p></dd>
			<dd><a href="http://" target="_blank">Ticonderoga No.2</a>
				<p>description</p></dd>
			<dd><a href="http://www.amazon.com/Timex-Full-Size-T5K253-Ironman-TapScreen/dp/B0035XKGQC/ref=sr_1_1?s=sporting-goods&ie=UTF8&qid=1372641926&sr=1-1&keywords=Timex+Ironman+Triathlon+Sleek+Tap+150+Lap+Watch" target="_blank">Timex Ironman</a>
					<p>150 Lap - Tap, Orange </p></dd>
		</dl>

		<h3>Homies and Badasses</h3>
		<dl>
			<dt>Designers &amp; Devs</dt>
			<dd><a href="https://vimeo.com/34017777" target="_blank">Wilson Miner</a>
				<p>Link to his talk, "When we build" also former Apple.com designer</p></dd>
			<dd><a href="http://frankchimero.com/work/" target="_blank">Frank Chimero</a>
				<p>Digital designer, author, techer</p></dd>
			<dd><a href="http://craigmod.com/" target="_blank">Craig Mod</a>
				<p>Independent writer, designer and publisher </p></dd>
			<dd><a href="http://www.marisheibley.com/" target="_blank">Mari</a>
				<p>Marsbot designer, formerly Foursquare</p></dd>
			<dd><a href="http://www.paulirish.com/" target="_blank">Paul Irish</a>
				<p>Font-end god, Google Chrome dev relations guy, jQuery Team member</p></dd>
		</dl>
		
		<dl>
			<dt>Photogs</dt>
			<dd><a href="http://www.ericmeola.com/portfolio/photography/bruce" target="_blank">Eric Meola</a>
				<p>description</p></dd>
			<dd><a href="http://en.wikipedia.org/wiki/Ansel_Adams" target="_blank">Ansel Adams</a>
				<p>description</p></dd>
			<dd><a href="http://" target="_blank">Samantha Okazaki</a>
				<p>description</p></dd>
		</dl>
		
		<dl>
			<dt>Enterpenures</dt>
			<dd><a href="http://teendrama.com/" target="_blank">Dennis Crowley</a>
				<p>Founder &amp; CEO, Foursquare</p></dd>
			<dd><a href="http://alexisohanian.com/" target="_blank">Alexis Ohanian</a>
				<p>Founder of Reddit, internet protector, and all-around nice guy.</p></dd>
			<dd><a href="http://www.starshipnexis.com/" target="_blank">Philip Caplan</a>
				<p>Formerly Fu*ked Company and TinyLetter. Currently building Fandalism, a social networking website for musicians</p></dd>
			<dd><a href="https://twitter.com/Remy_D" target="_blank">Remy DeCausemaker</a>
				<p>Defender of the internet, badass beard owner, researcher/mentor at the FOSSBox at RIT. </p></dd>
			<dd><a href="http://www.starshipnexis.com/" target="_blank">Starship NEXIS</a>
				<p>Lab run by a mentor of mine, Anthony Rotolo known for it's New Explorations in Information Science</p></dd>
			<dd><a href="http://" target="_blank">Syracuse Tech Garden and Student Sandbox</a>
				<p>John Liddy aka. "Coach Lids" is killing it in Armory Square.</p></dd>
		</dl>
	</article>
{% endblock %}