{% layout "page" %}
{% block content %} 
	<article class="resources">
		<h3>Resources</h3>
		
		<dl>
			<dt>General</dt>
			<dd>1</dd>
			<dd>2</dd>
		</dl>


		<dl>
			<dt>Designy</dt>
			<dd>1</dd>
			<dd>2</dd>
		</dl>

		<dl>
			<dt>Webby</dt>
			<dd>1</dd>
			<dd>2</dd>
		</dl>

		<h3>Toys, Gadgets, and Gear</h3>
		<dl>
			<dt>Software</dt>
			<dd>1</dd>
			<dd>2</dd>
		</dl>

		<dl>
			<dt>Hardware</dt>
			<dd>1</dd>
			<dd>2</dd>
		</dl>

		<dl>
			<dt>Gear</dt>
			<dd>1</dd>
			<dd>2</dd>
		</dl>

		<h3>Homies and Badasses</h3>
		<dl>
			<dt>Designers &amp; Devs</dt>
			<dd>1</dd>
			<dd>2</dd>
		</dl>
		
		<dl>
			<dt>Photographers</dt>
			<dd>1</dd>
			<dd>2</dd>
		</dl>
		
		<dl>
			<dt>Enterpenures</dt>
			<dd>1</dd>
			<dd>2</dd>
		</dl>
	</ar
	ticle>
{% endblock %}