{% layout "page" %}
{% block content %}
<article>
<h2>Coming wicked soon</h2>
<p>Feel free to check out this <a href="http://cargocollective.com/azar/" target="_blank">old portfolio</a> while you wait. </p>
</article>
<!-- 	<article>
		<p>Portfolio of an entrepeneure and an overall enterprising spirit.</p>

		<h2>WaPo Labs</h2>
			<p>SocialReader.com</p>
			<p>App Stream</p>
			<p>Widgets</p>
			<p>Service Alley</p>
	</article>

	<article>
		<h2>Little Tinker</h2>
	</article>
		<p>Widgets</p>
		<p>#DrinkUp</p>
		<p>Syracuse Housing</p>
	</article> -->
{% endblock %}