{% layout "page" %}
{% block content %} 
	<article>
		<h2>Portfolio</h2>
		Social Reader Web App
		<h3>App Stream</h3> 
			<p>Auto Show App</p>
			<p>Cherry Blossom App</p>
		<p>Widgets</p>
		<p>#DrinkUp</p>
		<p>Syracuse Housing</p>
	</article>
{% endblock %}